#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: grid;
  grid-template-columns: 30rem;
}

.title {
  color: DodgerBlue;
  font-size: xxx-large;
  font-family: sans-serif;
  letter-spacing: 25px;

}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}